@import 'src/styles/text-gradient';
@import '/src/styles/vars';

.mainContainer {
  --gap: 24px;

  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr minmax(400px, 1fr);
  padding-top: 25px;

  @media (max-width: #{$max-width-tablet-portrait}) {
    grid-template-columns: 1fr;
  }
}

.infoBlocks {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  @media (max-width: #{$max-width-mobile}) {
    grid-template-columns: 1fr;
  }

  > div {
    max-height: 103px;
  }
}

.formWrapper {
  --common-padding: 24px;

  background-color: var(--theme-card-color);
  border: 1px solid var(--theme-border-color);
  border-radius: 8px;
}

.form {
  padding: var(--common-padding) var(--common-padding) 28px;
}

.radioTabsWrapper {
  margin-bottom: 20px;
}

.balanceWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.balanceLabel {
  color: var(--theme-text-color);
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.balance {
  color: var(--theme-light-text-color);
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.buttonTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonText {
  margin-top: 2px;
}

.buttonTextTooltip {
  margin-left: 8px;
}

.buttonsWrapper {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}


.icon {
  margin-left: 8px;
}

.backButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;

  @include text-gradient();
}

.fiatWrapper {
  background: linear-gradient(90deg, var(--theme-color-2), var(--theme-color-3));
  border-radius: 4px;
  margin-bottom: 24px;
}

.fiatWrapperTop {
  background-color: transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  height: 35px;
  padding: 0;
  width: 100%;
}

.fiatWrapperTopInner {
  align-items: center;
  background-color: rgb(23, 23, 23);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  gap: 8px;
  height: 100%;
  justify-content: center;
  padding: 0;
  width: 100%;

  > span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;

    @include text-gradient();
  }
}

.fiatWrapperContents {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid transparent;
  border-top: none;
}

.fiatWrapperContentsInner {
  background-color: rgb(23, 23, 23);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 15px;
}

.summary {
  padding: 24px 0 0 0;
}

.lastStepTitle {
  color: var(--theme-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 6px;
  text-align: center;
}

.lastStepText {
  color: var(--theme-color-9);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 24px;
  text-align: center;
}

.lastStepAnimation {
  align-items: center;
  display: flex;
  justify-content: center;
}
