@import '/src/styles/vars';

.component {
  --gap: 24px;

  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr minmax(400px, 1fr);
  padding-top: 25px;

  @media (max-width: #{$max-width-tablet-portrait}) {
    grid-template-columns: 1fr;
  }
}

.infoBlocks {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr 1fr;
  max-height: fit-content;

  @media (max-width: #{$max-width-mobile}) {
    grid-template-columns: 1fr;
  }
}
