.tabs {
  margin-bottom: 20px;
  margin-left: calc(var(--content-padding) * -1);
  margin-right: calc(var(--content-padding) * -1);
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}
