@import 'src/styles/text-gradient';

.form {
  padding: var(--theme-common-card-padding) var(--theme-common-card-padding) 28px;
}

.top {
  padding: var(--theme-common-card-padding) var(--theme-common-card-padding) 28px;
}
.summary {
  padding: 24px 0 0 0;
}

.component {
  padding: 0 var(--theme-common-card-padding) var(--theme-common-card-padding)
    var(--theme-common-card-padding);
}

.tabs {
  margin-bottom: var(--theme-common-card-padding);
  margin-left: calc(var(--theme-common-card-padding) * -1);
  margin-right: calc(var(--theme-common-card-padding) * -1);
  padding-left: var(--theme-common-card-padding);
  padding-right: var(--theme-common-card-padding);
}

.lastStepAnimation {
  align-items: center;
  display: flex;
  justify-content: center;
}

.lastStepTitle {
  color: var(--theme-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 6px;
  text-align: center;
}

.lastStepText {
  color: var(--theme-color-9);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 24px;
  text-align: center;
}

.finishButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;

  @include text-gradient();
}

.stepperWrapper {
  --common-padding: 24px;
  border-bottom: 1px solid var(--theme-border-color);
  padding: 16px var(--common-padding) var(--common-padding);
}

.stepperTitleWrapper {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}

.stepperTitle {
  color: var(--theme-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

.steps {
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--theme-border-color);
  color: var(--theme-light-text-color);
  display: flex;
  font-size: 11px;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  line-height: 1.2;
  padding: 0 24px;
}

.currentStep {
  color: var(--theme-text-color);
  font-size: 14px;
  font-weight: 600;
}

.stepperDescription {
  color: var(--theme-dark-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}
