.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 10px 0;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.iconDisabled {
  filter: grayscale(100%);
}

.congrats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
