.component {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.label {
  color: var(--theme-text-color);
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.balance {
  color: var(--theme-light-text-color);
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
