@import 'src/styles/text';

.component {
  &:global(.ant-popover .ant-popover-inner) {
    background-color: var(--theme-body-color);
    border-radius: 8px;
    border: 1px solid var(--theme-border-color);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
  }
  &:global(.ant-popover .ant-popover-inner-content) {
    padding: 20px;
  }
}
