@import 'src/styles/text';

.sidebar {
  background: var(--theme-body-color);

  :global(.logo-wrapper) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 12px 8px;

    :global(.logo) {
      display: flex;
      align-items: center;
      gap: 12px;

      :global(.app-name) {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
      }
    }
  }

  &:global(.ant-layout-sider-collapsed) {
    :global(.logo-wrapper) {
      flex-direction: column-reverse;
    }
  }


  :global(.ant-btn.ant-btn-primary) {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    color: #fff;
    width: 32px;
    height: 32px;

    :global(.chevron) {
      transition: 0.5s ease !important;

      &:global(.collapsed) {
        transform: rotate(180deg);
      }
    }
  }

  :global(.ant-menu) {
    background: var(--theme-card-color);
    color: var(--theme-primary-color);

    :global(.ant-menu-item) {
      border: 0;
      border-bottom: 1px solid;
      border-image: linear-gradient(90deg, transparent, var(--theme-border-color), transparent) 1;

      a {
        @include font-p2-semi-500;
        color: var(--theme-secondary-color);
      }

      &:global(.ant-menu-item-selected) {
        a {
          &:global(.active) {
            background: var(--gradient-secondary-pink);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      &:global(.ant-menu-item-active) {
        a {
          color: var(--theme-primary-color);
        }

        &:not(:global(.ant-menu-item-selected)) {
          svg {
            path {
              stroke: white;
            }
          }
        }
      }
    }
  }

  :global(.ant-menu-selected),
  :global(.ant-menu-item-selected) {
    // TODO: get rid of the `!important` keyword
    background-color: var(---theme-card-color) !important;
    width: 100%;

    &::after {
      left: 0;
      right: auto;
      border: 0;
      border-left: 4px solid;
      border-image: var(--gradient-secondary-pink) 0 100%;
    }
  }
}
