.header {
  border-bottom: 1px solid rgba(211, 211, 211, 0.29);
  padding: 16px;
}

.steps {
  justify-self: end;
}

.currentStep {
  font-weight: 700;
}

.currentValue {
  justify-self: end;
}

.summary {
  margin-top: 16px;
}

.summaryValue {
  justify-self: end;
}