@import 'src/styles/vars';

.component {
  align-items: center;
  background-color: transparent;
  box-shadow: inset 0 -1px 0 var(--theme-border-color);
  display: flex;
  height: var(--theme-header-height);
  justify-content: space-between;
  line-height: var(--theme-header-height);
  padding: 0 40px;

  @media (max-width: #{$max-width-tablet-portrait}) {
    padding: 0 20px;
  }
}

.title {
  color: var(--theme-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;

  @media (max-width: #{$max-width-mobile}) {
    display: none;
  }
}
