#notifications-root {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;

  &:empty {
    display: none;
  }
}

.ant-notification-notice {
  word-break: break-word;

  .ant-notification-notice-message {
    min-height: 24px;
  }
}
