@mixin text-gradient() {
  background: linear-gradient(90deg, var(--theme-color-2), var(--theme-color-3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.15s linear;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.text-gradient {
  @include text-gradient();
}
