.button {
  &:global(.ant-select:not(.ant-select-customize-input)) {
    height: 48px;

    :global(.ant-select-selector) {
      align-items: center;
      background-color: var(--theme-color-select);
      border: 1px solid transparent;
      border-radius: 4px;
      color: var(--theme-text-color);
      display: flex;
      height: 100%;
      padding: 0 16px;
      transition: border-color 0.1s linear;
    }

    :global(.fill) {
      fill: var(--theme-color-5);
    }
  }

  // this is terrible
  &:global(.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)) {
    :global(.ant-select-selector) {
      box-shadow: none;
      border-color: var(--theme-color-6);
    }
  }
}

.option {
  &:global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
    background-color: var(--theme-color-1);
  }
}
