@import '/src/styles/vars';

.logoWrapper {
  align-items: center;
  display: flex;
  gap: 10px;
}

.logo {
  width: 25px;
  height: 31px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAyNCAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzE0NTJfMzA1NTEpIj4KPHBhdGggZD0iTTAuNjkwOTc5IDIuMDA3NjlIMjMuNTAyOSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSI0LjIzNTI5Ii8+CjxwYXRoIGQ9Ik0yMy41MDM0IDExLjI1MDdMMTEuMjIxMyAxMS4yNTA4QzYuNjI5NjkgMTEuMjUwOCAyLjkwNzQxIDE0Ljk1MzcgMi45MDc0MSAxOS41MjE1VjMwLjIyNzIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iNC4yMzUyOSIvPgo8cGF0aCBkPSJNMTMuODAwNiAxOS45NDI5TDIxLjQ5NjggMTkuOTQyOVYyOC4zNTg5SDExLjc5MjhWMjEuOTQwMkMxMS43OTI4IDIwLjgzNzEgMTIuNjkxOCAxOS45NDI5IDEzLjgwMDYgMTkuOTQyOVoiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iNC4yMzUyOSIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzE0NTJfMzA1NTEiPgo8cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iMzAuNDk0MSIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K");
  display: block;
}
