@import '/src/styles/vars';

.component {
  --gap: 24px;

  column-gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  margin-bottom: 40px;
  row-gap: var(--gap);
  width: 100%;

  @media (max-width: #{$max-width-tablet-portrait}) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: #{$max-width-mobile}) {
    grid-template-columns: 1fr;
  }
}
