.component {
  border-radius: 4px;
  border: 1px solid var(--theme-border-color);
  margin-bottom: 24px;
  padding: 16px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  color: var(--theme-light-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.value {
  color: var(--theme-text-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;

  &.ok {
    color: var(--theme-ok-color);
  }

  &.warning {
    color: var(--theme-warning-color);
  }

  &.danger {
    color: var(--theme-danger-color);
  }
}
