.component {
  --group-height: 62px;

  :global(.ant-input-group) {
    border-radius: 4px;
    border: 1px solid var(--theme-border-color);
    height: var(--group-height);
    margin-bottom: 12px;

    :global(.ant-input) {
      height: var(--group-height);
    }

    :global(.ant-input-group-addon) {
      &:first-of-type {
        background-color: transparent;
        border-right-color: var(--theme-border-color);
        height: var(--group-height);
        padding: 0;
        width: var(--group-height);
      }
    }

    :global(.ant-input-group-addon) {
      &:last-of-type {
        background-color: transparent;
        height: var(--group-height);
      }
    }
  }
}

.iconsWrapper {
  align-items: center;
  display: flex;
  height: var(--group-height);
  justify-content: center;
  width: var(--group-height);
}

.healthFactorWrapper {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6px;
}

.safer {
  color: var(--theme-color-10);
  margin-right: auto;
}

.healthFactor {
  align-items: center;
  color: var(--theme-color-9);
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr 16px;
}

.riskier {
  color: var(--theme-color-11);
  margin-left: auto;
}
