@import 'src/styles/text';
@import '/src/styles/vars';

.sidebar {
  background: var(--theme-secondary-block);

  @media (max-width: #{$max-width-mobile}) {
    display: none;
  }

  :global(.ant-layout-sider-children) {
    display: flex;
    flex-direction: column;
  }
}

.sidebarCollapseButton {
  --dimensions: 32px;

  background-color: var(--theme-color-1);
  border: none;
  color: var(--theme-text-color);
  height: var(--dimensions);
  width: var(--dimensions);

  &:hover,
  &:focus {
    background-color: var(--theme-color-1);
    color: var(--theme-text-color);
  }
}

.chevron {
  transition: transform 0.3s linear;

  &.collapsed {
    transform: rotate(180deg);
  }
}

.topWrapper {
  align-items: center;
  display: flex;
  gap: 24px;
  height: var(--theme-header-height);
  justify-content: space-between;
  padding: 0 20px 0 24px;
  position: relative;
  margin-bottom: 45px;

  :global(.ant-layout-sider-collapsed) & {
    flex-direction: column;
    gap: 56px;
    margin-bottom: 35px;
    padding-top: 28px;
    height: auto;

    &::before {
      background-color: var(--theme-border-color);
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: var(--theme-header-height);
      width: 100%;
    }
  }
}

.logo {
  :global(.ant-layout-sider-collapsed) & {
    order: 2;
  }
}

.sideMenuFooter {
  margin-top: auto;

  :global(.ant-layout-sider-collapsed) & {
    display: none;
  }
}
