.bg {
  background: var(--theme-body-color);
  min-height: 100vh;
  display: flex;
  border: 1px solid var(--theme-border-color);
  justify-content: center;

  &__gradient {
    width: 900px;
    // height: 901px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 80, 139, 0.17) 0%,
      rgba(255, 80, 139, 0) 100%
    );
  }
}
